body{
  background: linear-gradient(#646cff, #b879f1);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: white;
  text-transform: uppercase;

}

